@import '../../styles/styles.scss';

.login {
  position: relative;
  text-align: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  &--desktop {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include from-breakpoint('medium') {
  .home {
    padding-top: 160px;
  }
}

@include from-breakpoint('x-large') {
  .background {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      width: auto;
    }
  }

  .content {
    align-items: end;
  }
}
