$x-small: 480px;
$small: 588px;
$medium: 768px;
$large: 1200px;
$x-large: 1400px;

$breakpoints: (
  x-small: (
    null,
    $x-small - 1,
  ),
  small: (
    $x-small,
    $small - 1,
  ),
  medium: (
    $small,
    $medium - 1,
  ),
  large: (
    $medium,
    $large - 1,
  ),
  x-large: (
    $large,
    $x-large - 1,
  ),
  xx-large: (
    $x-large,
    null,
  ),
);

$colors: (
  'white': #f2f2f2,
  'black': #1f1f1f,
  'orange': #f2994a,
  'red': #eb5757,
  'yellow': #f2c94c,
  'green': #27ae60,
  'gray': #4f4f4f,
  'purple': #380a48,
  'light-black': #333333,
  'light-gray': #bdbdbd,
  'dark-green': #284b56,
);

$gradients: (
  'orange':
    radial-gradient(187.18% 90.09% at 50% 9.91%, #d9571f 0%, #f1c380 100%),
  'green':
    radial-gradient(187.18% 90.09% at 50% 9.91%, #8f9f19 0%, #d2da99 100%),
  'red': radial-gradient(187.18% 90.09% at 50% 9.91%, #d91f1f 0%, #f1a980 100%),
  'blue': radial-gradient(187.18% 90.09% at 50% 9.91%, #199f7f 0%, #99dac3 100%),
);
