@import '../../../../styles/styles.scss';

.table {
  min-height: 200px;

  .cell {
    display: flex;
    gap: 20px;
  }

  .customize {
    display: block;
    color: colors('yellow');
    padding: 0;
  }

  .discount {
    @include font(16, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors('green');
    padding: 10px 20px;
    border-radius: 31px;
    display: none;
  }

  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors('red');

    span {
      font-size: 20px;
    }
  }

  p {
    text-align: center;
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

@include from-breakpoint('medium') {
  .table {
    .discount {
      display: block;
    }
  }
}
