@import '../../styles/styles.scss';

.cart {
  .section {
    min-height: 60vh;
  }
}

@include from-breakpoint('x-large') {
  .cart {
    .newsletter {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -15%);
    }
  }
}
