@import '../../styles/styles.scss';

.home {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 250px 12px 32px;
  background-image: var(--bgMobile);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  color: colors('yellow');
}

.subtitle {
  color: colors('yellow');
}

.image {
  position: absolute;
  top: 0;
  left: 0;
}

.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 16px;
}

@include from-breakpoint('medium') {
  .home {
    padding-top: 180px;
  }
}

@include from-breakpoint('large') {


  .title {
    font-size: calculateRem(80);
  }

  .subtitle {
    font-size: calculateRem(40);
  }
}

@include from-breakpoint('x-large') {
  .home {
    padding-left: 30%;
    background-image: var(--bgDesktop);
    background-size: contain;
    background-position: left;
  }
}