@import '../../styles/styles.scss';

.home {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 250px 12px 24px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  &--desktop {
    display: none;
  }
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include from-breakpoint('medium') {
  .home {
    padding-top: 160px;
  }
}

@include from-breakpoint('x-large') {
  .background {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
      width: auto;
      height: calc(100vh - 405px);
    }
  }

  .content {
    width: 80%;
    max-width: 1200px;
    align-items: end;
  }
}
