@import '../../styles/styles.scss';

.home {
  text-align: center;
}

.title {
  color: colors('yellow');
}

.subtitle {
  color: colors('yellow');
}

@include from-breakpoint('large') {
  .title {
    font-size: calculateRem(80);
  }

  .subtitle {
    font-size: calculateRem(40);
  }
}