@import '../../../../../styles/styles.scss';

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
  gap: 12px;

  &__title {
    width: 100%;
    text-align: left;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    button {
      min-width: 100px;
      height: 40px;

      &.active {
        color: colors('white');
        background-color: colors('red');
      }
    }
  }
}
