@import '../../../styles/styles.scss';

.title {
  position: relative;
  color: colors('yellow');
}

.subtitle {
  position: relative;
  color: colors('yellow');
}

.image {
  position: absolute; 
  top: 0;
  left: 0;
}

.actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 16px;
}

@include from-breakpoint('large') {
  .title {
    font-size: calculateRem(80);
  }

  .subtitle {
    font-size: calculateRem(40);
  }
}