.group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .select {
      width: 100%;
    }

    button {
      min-width: 110px;
    }
  }
}
