@import '../../../styles/styles.scss';

.counter {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0;

  .label {
    min-width: 30px;
    text-align: center;
  }

  .button {
    background-color: colors('light-black');

    span {
      font-size: 12px;
      color: colors('white');
    }
  }
}
