@import '../../../styles/styles.scss';

.hero {
  width: 100%;
  height: 100vh;
  background-image: var(--image);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 10%;
  position: relative;

  h1,
  h2 {
    color: colors('yellow');
  }

  h1 {
    @include font(80, 130);
  }

  h2 {
    @include font(60, 100);
    margin-bottom: 70px;
  }

  .button {
    color: colors('black');
    background-color: colors('yellow');
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: colors('yellow');
    }
  }
}

@include from-breakpoint('large') {
  .hero {
    h1 {
      @include font(120, 130);
    }

    h2 {
      @include font(80, 100);
    }
  }
}
