@import '../../styles/styles.scss';

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  z-index: 1;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
  }

  img {
    width: 50px;
  }

  .button {
    min-width: 70px;
  
    span {
      color: colors('white');
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  &--hidden {
    display: none;
  }

  a {
    cursor: pointer;
    color: colors('white');
    text-decoration: none;
  }

  .active {
    color: colors('yellow');
  }

  span {
    vertical-align: middle;
  }
}

@include from-breakpoint('large') {
  .navbar {
    width: 80%;
    max-width: 1200px;
    padding: 24px 0;
    flex-direction: row;
  }

  .logo {
    width: auto;

    img {
      width: 120px;
    }

    .button {
      display: none;
    }
  }

  .list {
    flex-direction: row;
    flex-grow: 0;
    gap: 24px;

    &--hidden {
      display: flex;
    }
  }
}

@include from-breakpoint('x-large') {
  .list {
    gap: 50px;
  }
}
