@import '../../styles/styles.scss';

.menu {
  position: relative;

  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 34px;
  }

  .promotions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .title {
    @include font(80, 100);
    color: colors('yellow');
  }
}

@include from-breakpoint('x-large') {
  .menu {
    .button {
      z-index: 1;
      margin-bottom: calc((5% + 74px) * -1);
    }

    .section {
      padding-top: 100px;
      justify-content: flex-start;
      min-height: calc(80vh + 443px); // 443px footer height
      gap: 60px;
    }

    .promotions {
      flex-wrap: nowrap;

      div:nth-child(2) {
        margin-top: 80px;
      }
    }
  }
}
